{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Chord Diagram</title>

  <!-- Include the latest version of Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
  <!-- d3 and diagram js -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="{% static 'js/chord_diagram.js' %}" type="text/javascript"></script>

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme&family=Sen&display=swap" rel="stylesheet">
</head>

<style>
  .wrapper {
    width: 100%;
    height: 100%;
    background: 

    /* TODO: animation see https://codepen.io/quasimondo/pen/AZedgK */
      radial-gradient(100% 100% at bottom, #9ca1de 20%, rgba(158, 166, 228, 0.55) 50%, transparent),
      /* linear-gradient(to right, #98e2f7 40%, #ec9aa1), */
      linear-gradient(to left, #ffbb2ab6 30%, #ff828c);
    
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    color:#fff;
  }

  .middle-card {
    height: 500px;
    width: 100%;
  }

  h1 {
    font-family: 'Sen', sans-serif;
    font-size: 65px;
  }
</style>

<body>
    <div class="wrapper">
        <h1>Chord</h1>
        <div id="my_dataviz"></div>
    </div>

  <!-- Include the latest version of Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

</body>
</html>

<script>

  $(document).on('click', '#myTab a', function(e) {
    e.preventDefault();
    $(this).tab('show');
  })

let matrix = [[0, 0, 0, 12, 6, 0, 6, 0, 13, 0, 12, 4, 3, 6, 0],
      [0, 0, 21, 0, 0, 22, 0, 0, 9, 32, 0, 0, 0, 0, 13],
      [0, 21, 0, 0, 0, 8, 4, 0, 0, 0, 7, 0, 0, 0, 2],
      [12, 0, 0, 0, 2, 4, 2, 2, 4, 6, 0, 14, 15, 14, 11],
      [6, 0, 0, 2, 0, 2, 0, 2, 4, 0, 0, 13, 1, 0, 4],
      [0, 22, 8, 4, 2, 0, 14, 1, 0, 0, 0, 0, 10, 0, 0],
      [6, 0, 4, 2, 0, 14, 0, 0, 0, 0, 9, 0, 6, 0, 0],
      [0, 0, 0, 2, 2, 1, 0, 0, 1, 0, 0, 7, 6, 7, 4],
      [13, 9, 0, 4, 4, 0, 0, 1, 0, 18, 0, 0, 0, 4, 9],
      [0, 32, 0, 6, 0, 0, 0, 0, 18, 0, 1, 0, 0, 0, 17],
      [12, 0, 7, 0, 0, 0, 9, 0, 0, 1, 0, 0, 0, 0, 0],
      [4, 0, 0, 14, 13, 0, 0, 7, 0, 0, 0, 0, 21, 14, 0],
      [3, 0, 0, 15, 1, 10, 6, 6, 0, 0, 0, 21, 0, 4, 0],
      [6, 0, 0, 14, 0, 0, 0, 7, 4, 0, 0, 14, 4, 0, 0],
      [0, 13, 2, 11, 4, 0, 0, 4, 9, 17, 0, 0, 0, 0, 0]]

let names = ['Klacht',
      'Onderhoud',
      'Afspraak',
      'Storing',
      'Lekkage',
      'Ketel',
      'Lawaai',
      'Verbruik',
      'Offerte',
      'Contract',
      'Ventilatie',
      'Verwarming',
      'Warm water',
      'Thermostaat',
      'Warmtepomp']

// function chordDiagram(matrix, names) {
    // diagram
    const chord = d3.chord()
    .padAngle(0.03)
    .sortSubgroups(d3.ascending)
    const chords = chord(matrix);

    // sizes
    var width = 700;
    var height = 700;
    var innerRadius = width / 2 * 0.7;
    var outerRadius = innerRadius + 5;

    // colormap and gradient
    var color20 = d3.scaleSequential().domain([1, names.length]).interpolator(d3.interpolateRainbow);
    function getGradID(d){ return "linkGrad-" + d.source.index + "-" + d.target.index; }

    // add element
    var svg = d3.select("body")
    .append("svg")
    .attr("width", width)
    .attr("height", height);

    // draw nodes
    var outer_arc = d3.arc()
    .innerRadius(innerRadius)
    .outerRadius(outerRadius);

    var g_outer = svg.append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
    .datum(chords);

    var group = g_outer.append("g")
    .attr("class", "groups")
    .selectAll("g")
    .data(function(chords) { return chords.groups; })
    .enter().append("g");

    // add color
    group.append("path")
    .style("fill", function(d) {
        return color20(d.index);
    })
    .style("stroke", function(d) {
        return color20(d.index);
    })
    .attr("d", outer_arc);

    // add text
    group.append("text")
    .attr("dy", ".35em") //width
    .attr("transform", function(d,i) {
        // tekst tussen begin en eind vd streep zetten
        d.angle = (d.startAngle + d.endAngle) / 2;
        d.name = names[i]; 
        return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")" +
        "translate(" + (outerRadius + 13) + ")" +
        ((d.angle > Math.PI) ? "rotate(180)" : "");
    })
    .attr("text-anchor", d => d.angle > Math.PI ? "end" : null)
    .text(function(d) {
        return d.name;
    });

    // gradient
    const grads = svg.append("defs").selectAll("linearGradient")
    .data(chords)
    .enter().append("linearGradient")
    .attr("id", getGradID)
    .attr("gradientUnits", "userSpaceOnUse")
    .attr("x1", function(d,i) { return innerRadius * Math.cos((d.source.endAngle-d.source.startAngle)/2 + d.source.startAngle - Math.PI/2); })
    .attr("y1", function(d,i) { return innerRadius * Math.sin((d.source.endAngle-d.source.startAngle)/2 + d.source.startAngle - Math.PI/2); })
    .attr("x2", function(d,i) { return innerRadius * Math.cos((d.target.endAngle-d.target.startAngle)/2 + d.target.startAngle - Math.PI/2); })
    .attr("y2", function(d,i) { return innerRadius * Math.sin((d.target.endAngle-d.target.startAngle)/2 + d.target.startAngle - Math.PI/2); })

    // starting color (at 0%)
    grads.append("stop")
    .attr("offset", "0%")
    .attr("stop-color", function(d){ return color20(d.source.index); });

    // ending color (at 100%)
    grads.append("stop")
    .attr("offset", "100%")
    .attr("stop-color", function(d){ return color20(d.target.index); });

    // add chord
    var inner_chord = d3.ribbon()
    .radius(innerRadius - 5);

    // connections
    g_outer.append("g")
    .attr("fill-opacity", .8)
    .attr("class", "ribbons")
    .selectAll("path")
    .data(function(chords) { return chords; })
    .enter().append("path")
    .attr("d", inner_chord)
    .attr("class", "chord")
    .style("fill", function(d){ return "url(#" + getGradID(d) + ")"; })
// }
</script>
   